<html>
<body>
  <h1><%= genre.name %></h1>
  
  <% genre.songs.each do |s| %>
  <p>
    <a href="../songs/<%= SiteGenerator.normalize(s.name) %>.html"><%= s.name %></a>
    |
    <a href="../artists/<%= SiteGenerator.normalize(s.artist.name) %>.html"><%= s.artist.name %></a>
  </p>
  <% end %>

</body>
</html>